.store-item{
    height: 150px;
    width: 250px;
    border: 1px solid #fff;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.head-title{
    display: inline;
}

.store-number{
    font-size: 40px;
}

.store-name{
    font-weight: 500;
}

.d-flex{
    justify-content: space-between;
}

.products{
    position: relative;
    bottom: -20px;
    text-align: right;
}

.title-products{
    font-size: 20px;
}