.borber-line{
    border-right: 3px solid #ccc;
    height: 750px;
}

.main{
    background-color: black;
    color: white;
}

.add-store{
    padding-right: 20px;
    padding-top: 10px;
}

.float-end{
    margin-bottom: 15px;
}