.form-check{
    margin-top: 15px;
    font-size: 12px;
}

.item-amount{
    width: 50px;
    margin-left: 2px;
}

.btn-save{
    width: 100%;
}

.pad-left-0{
    padding-left: 0px;
}

.invalid-name{
    position: absolute;
    top: 35px;
    color: red;
    font-size: small;
}